<div class="container">
  <div class="row" *ngIf="book">
    <div class="col-md-6">
      <h3>Name: </h3>
      <h5>{{book.name}}</h5>
    </div>
    <div class="col-md-6">
      <h3>ISBN: </h3>
      <h5>{{book.isbn}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.numberOfPages">
      <h3>Number OF Pages: </h3>
      <h5>{{book.numberOfPages}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.publisher">
      <h3>Publisher: </h3>
      <h5>{{book.publisher}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.country">
      <h3>Country: </h3>
      <h5>{{book.country}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.mediaType">
      <h3>Media Type: </h3>
      <h5>{{book.mediaType}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.released">
      <h3>Released: </h3>
      <h5>{{book.released | date}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.authors[0]">
      <h3>Authors: </h3>
      <h5 *ngFor="let author of book.authors">{{author}}</h5>
    </div>
    <div class="col-md-6" *ngIf="book.characters[0]">
      <h3>Characters: </h3>
      <h5 *ngFor="let character of book.characters">
        <a [routerLink]="['/character',character.split('/').pop()]">{{character}}</a>
      </h5>
    </div>
    <div class="col-md-6" *ngIf="book.povCharacters[0]">
      <h3>PovCharacters: </h3>
      <h5 *ngFor="let character of book.povCharacters">
        <a [routerLink]="['/character',character.split('/').pop()]">{{character}}</a>
      </h5>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <button class="btn btn-primary" [routerLink]="['/home']">Go back</button>
  </div>

</div>
